main {
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.galery__item {
  width: 200px;
  height: 230px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c5dcf2;
}

.galery__price {
  font-size: 22px;
  text-align: center;
}

.item__img {
  display: block;
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
}

.gallery__item:hover .item__img {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .item__img {
    width: 700px;
    height: 700px;
  }
  .galery__item {
    width: 700px;
    height: 730px;
  }
}
@media (min-width: 1440px) {
  .item__img {
    width: 1400px;
    height: 1400px;
  }
  .galery__item {
    width: 1400px;
    height: 1430px;
  }
}
